:root {
  --primary: #808;
  --secondary: #242424;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: var(--secondary);
  border: 3px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 40px;
  border: 3px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 40px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 1.0s ease-out;
  background: transparent;
  color: #fff;
  transition-property: background-color;
  transition-duration: 500ms;
}